body {
  position: relative;
  height: 100vh;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  z-index: 999;
  height: 100vh;
  visibility: hidden;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand h1 {
  color: #645beb;
  font-weight: 100;
}
.navbar-brand h1 span {
  color: #645beb;
  font-weight: 500;
}

.nav-link {
  color: #ffffff !important;
  font-size: 22px;
  margin-right: 20px;
}

.shape {
  position: absolute;
  right: 0;
  height: 100vh;
  width: 55%;
}

.img-people {
  height: 270px;
  width: 350px;
  margin-left: 30px;
}

.card {
  padding: 20px 20px 35px 20px;
  border-radius: 12px;
  color: #ffffff;
  position: relative;
}

.card h3,
.card p {
  margin-bottom: 0;
  position: relative;
  z-index: 1;
}
.wrap-card {
  background-color: #ffffff7a;
  padding: 0 20px 35px 25px;
  border-radius: 12px;
}
.card p {
  font-size: 12px;
}
.bg-card-1 {
  background: transparent linear-gradient(180deg, #ff8900 0%, #ff5800 100%) 0%
    0% no-repeat padding-box;
}
.bg-card-2 {
  background: transparent linear-gradient(180deg, #03e2a5 0%, #00b188 100%) 0%
    0% no-repeat padding-box;
}
.bg-card-3 {
  background: transparent linear-gradient(180deg, #6e8aff 0%, #6c63ff 100%) 0%
    0% no-repeat padding-box;
}
.bg-card-4 {
  background: transparent linear-gradient(180deg, #e98bff 0%, #b100b1 100%) 0%
    0% no-repeat padding-box;
}

.shape-card {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.shape-hr {
  width: 40px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 8px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.shape-carousel {
  position: absolute;
  right: 0;
  height: 100px;
  width: 50%;
  top: 3px;
}
.carousel {
  position: relative;
  width: 100%;
  background: transparent linear-gradient(258deg, #625ae0 0%, #746cff 100%) 0%
    0% no-repeat padding-box;
  border-radius: 12px;
  padding: 10px 16px;
}
.carousel-inner {
  padding-left: 80px;
}

.carousel-item {
  color: white;
}

.carousel-indicators {
  position: absolute;
  bottom: -50px;
}
.carousel-indicators li {
  background-color: #c4c4c4;
  height: 10px;
}
.carousel-indicators li.active {
  background-color: #746c78;
  width: 50px;
}

.wrap-carousel {
  position: relative;
}
.text-news {
  position: absolute;
  top: -40px;
}

.bar {
  position: absolute;
  z-index: 9999;
  background-color: white;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 20px;
  width: 100%;
  visibility: hidden;
}
.bar h5 {
  color: #645beb;
  font-weight: 100;
}
.bar h5 span {
  color: #645beb;
  font-weight: 500;
}


.bar h6 {
    font-weight: 200;
}}

/* Responsive style */

@media(max-width: 1200px) {
    .nav-link: {
        font-size: 15px;
        margin-right: 10px;
    }
    .navbar-brand h1 {
        font-size: 25px;
    }
    .navbar-brand img {
        width: 20px;
        height: 25px;
        margin-right: 10px !important;
    }
    .text-news {
        font-size: 17px;
    }
    .carousel-item h5 {
        font-size: 14px;
    }
    .carousel-item p {
        font-size: 12px;
    }

}
@media(max-width: 992px) {
    .img-people {
        display: none;
    }
    .navbar-toggler {
        display: none;
    }
    .wrap-card {
        background-color: transparent;
        position: absolute;
        top:300px;
        margin-left: 0;
    }
    .wrap-carousel {
        width: 100% !important;
        margin-right: 0;
        margin-left: 0;
        margin-top: 40px;
    }
    .shape {
        width: 50%;
        height: 243px;
    }
    .carousel-indicators {
        right: 120px;
    }
    .navbar {
        padding-left: 0;
        padding-right: 0;
    }
    .padding-cs {
        padding-left: 0;
        padding-right: 0;
    }
    .wrap-card .mt-4:first-child {
        margin-top: 25px !important;
    }
    .wrap-card .mt-4 {
        margin-top: 10px !important;
    }
}

@media(max-width : 429px) {
    .navbar-brand h1{
        font-size: 20px;
    }
}

@media (max-width :377px) {
    .wrap-card .mt-4:first-child {
        margin-top: 50px !important;
    }
    .card {
        padding: 20px;
    }
    .shape-card {
        height: 80px;
        width: 140px;
    }
    .shape {
        width: 246px;
    }
}
